bither-android/target
bither-android/bin
bither-android/gen
bither-android/.classpath
bither-android/.settings
bither-android/.idea
bither-android/classes
*.iml

wheel/bin
wheel/gen
wheel/.classpath
wheel/.settings

android-charts/bin
android-charts/gen
android-charts/.classpath
android-charts/.settings
