bither-android/target
bither-android/bin
bither-android/gen
bither-android/.classpath
bither-android/.settings

wheel/bin
wheel/gen
wheel/.classpath
wheel/.settings

Android-Charts-master/bin
Android-Charts-master/gen
Android-Charts-master/.classpath
Android-Charts-master/.settings
